<div class="container h-100">
  <div class="row justify-content-center align-content-center h-100">
    <div class="col-6">
      <h1>{{titulo}}</h1>
      <form>
        <div class="form-group">
          <label>Operando A</label>
          <input type="number" class="form-control"
            placeholder="Escribe el operando A"
            [(ngModel)]="operandoA"
            name="operandoA">
        </div>
        <div class="form-group">
          <label>Operando B</label>
          <input type="number" class="form-control"
            placeholder="Escribe el operando B"
            [(ngModel)]="operandoB"
            name="operandoB">
        </div>


        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary" data-id="sumar"
          (click)="operarCon($event)">Sumar</button>
          <button type="submit" class="btn btn-primary" data-id="restar"
          (click)="operarCon($event)">Restar</button>
          <button type="submit" class="btn btn-primary" data-id="multiplicar"
          (click)="operarCon($event)">Multiplicar</button>
          <button type="submit" class="btn btn-primary" data-id="dividir"
          (click)="operarCon($event)">Dividir</button>
        </div>
      </form>
      <p>Resultado: {{resultado}}</p>
    </div>
  </div>
</div>
